<div id="<%= dom_id review %>">
  <p>
    <strong>User name:</strong>
    <%= review.user_name %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= review.body %>
  </p>

  <p>
    <strong>Book:</strong>
    <%= review.book_id %>
  </p>

</div>
