<div id="<%= dom_id review %>">
  <p>
    <strong>Body:</strong>
    <%= review.body %>
  </p>

  <p>
    <strong>Book:</strong>
    <%= review.book_id %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= review.rating %>
  </p>

</div>
